<h1>Sample App</h1>
<p>
  This is the contact page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample app.
  You can contact <a href="http://www.ee.columbia.edu/~kumar">Raj
  Kumar </a> if you wish at <email>raj@ee.columbia.edu</email>
</p>

